<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>My Buttons</title>
    <link rel="stylesheet" href="btnStyle.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f586a3b164.js" crossorigin="anonymous"></script>
  </head>
  <body>

    <div class="buttons-container">

      <div class="rectangular-buttons">
        <a class="button-r btn-1" href="#">Click Me!</a>
        <a class="button-r btn-2" href="#">Click Me!</a>
        <a class="button-r btn-3" href="#">Click Me!</a>
        <a class="button-r btn-4" href="#">Click Me!</a>
        <a class="button-r btn-5" href="#">Click Me!</a>
        <a class="button-r btn-6" href="#">Click Me!</a>
        <a class="button-r btn-7" href="#">Click Me!</a>
        <a class="button-r btn-8" href="#">Click Me!</a>
      </div>

      <div class="semi-rounded-buttons">

        <div class="sm-facebook">
          <a class="button-sm btn-sm-1 btn-sm-fb" href="#"><i class="fab fa-facebook-f"></i></a>
          <a class="button-sm btn-sm-2 btn-sm-fb" href="#"><i class="fab fa-facebook-f"></i></a>
          <a class="button-sm btn-sm-3 btn-sm-fb" href="#"><i class="fab fa-facebook-f"></i></a>
          <a class="button-sm btn-sm-4 btn-sm-fb" href="#"><i class="fab fa-facebook-f"></i></a>
          <a class="button-sm btn-sm-5 btn-sm-fb" href="#"><i class="fab fa-facebook-f"></i></a>
          <a class="button-sm btn-sm-6 btn-sm-fb" href="#"><i class="fab fa-facebook-f"></i></a>
          <a class="button-sm btn-sm-7 btn-sm-fb" href="#"><i class="fab fa-facebook-f"></i></a>
          <a class="button-sm btn-sm-8 btn-sm-fb" href="#"><i class="fab fa-facebook-f"></i></a>
        </div>

        <div class="sm-twitter">
          <a class="button-sm btn-sm-1 btn-sm-ig" href="#"><i class="fab fa-instagram"></i></a>
          <a class="button-sm btn-sm-2 btn-sm-ig" href="#"><i class="fab fa-instagram"></i></a>
          <a class="button-sm btn-sm-3 btn-sm-ig" href="#"><i class="fab fa-instagram"></i></a>
          <a class="button-sm btn-sm-4 btn-sm-ig" href="#"><i class="fab fa-instagram"></i></a>
          <a class="button-sm btn-sm-5 btn-sm-ig" href="#"><i class="fab fa-instagram"></i></a>
          <a class="button-sm btn-sm-6 btn-sm-ig" href="#"><i class="fab fa-instagram"></i></a>
          <a class="button-sm btn-sm-7 btn-sm-ig" href="#"><i class="fab fa-instagram"></i></a>
          <a class="button-sm btn-sm-8 btn-sm-ig" href="#"><i class="fab fa-instagram"></i></a>
        </div>

        <div class="sm-instagram">
          <a class="button-sm btn-sm-1 btn-sm-tw" href="#"><i class="fab fa-twitter"></i></a>
          <a class="button-sm btn-sm-2 btn-sm-tw" href="#"><i class="fab fa-twitter"></i></a>
          <a class="button-sm btn-sm-3 btn-sm-tw" href="#"><i class="fab fa-twitter"></i></a>
          <a class="button-sm btn-sm-4 btn-sm-tw" href="#"><i class="fab fa-twitter"></i></a>
          <a class="button-sm btn-sm-5 btn-sm-tw" href="#"><i class="fab fa-twitter"></i></a>
          <a class="button-sm btn-sm-6 btn-sm-tw" href="#"><i class="fab fa-twitter"></i></a>
          <a class="button-sm btn-sm-7 btn-sm-tw" href="#"><i class="fab fa-twitter"></i></a>
          <a class="button-sm btn-sm-8 btn-sm-tw" href="#"><i class="fab fa-twitter"></i></a>
        </div>

        <div class="sm-linkedin">
          <a class="button-sm btn-sm-1 btn-sm-li" href="#"><i class="fab fa-linkedin-in"></i></a>
          <a class="button-sm btn-sm-2 btn-sm-li" href="#"><i class="fab fa-linkedin-in"></i></a>
          <a class="button-sm btn-sm-3 btn-sm-li" href="#"><i class="fab fa-linkedin-in"></i></a>
          <a class="button-sm btn-sm-4 btn-sm-li" href="#"><i class="fab fa-linkedin-in"></i></a>
          <a class="button-sm btn-sm-5 btn-sm-li" href="#"><i class="fab fa-linkedin-in"></i></a>
          <a class="button-sm btn-sm-6 btn-sm-li" href="#"><i class="fab fa-linkedin-in"></i></a>
          <a class="button-sm btn-sm-7 btn-sm-li" href="#"><i class="fab fa-linkedin-in"></i></a>
          <a class="button-sm btn-sm-8 btn-sm-li" href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>

        <div class="sm-pinterest">
          <a class="button-sm btn-sm-1 btn-sm-pr" href="#"><i class="fab fa-pinterest-p"></i></a>
          <a class="button-sm btn-sm-2 btn-sm-pr" href="#"><i class="fab fa-pinterest-p"></i></a>
          <a class="button-sm btn-sm-3 btn-sm-pr" href="#"><i class="fab fa-pinterest-p"></i></a>
          <a class="button-sm btn-sm-4 btn-sm-pr" href="#"><i class="fab fa-pinterest-p"></i></a>
          <a class="button-sm btn-sm-5 btn-sm-pr" href="#"><i class="fab fa-pinterest-p"></i></a>
          <a class="button-sm btn-sm-6 btn-sm-pr" href="#"><i class="fab fa-pinterest-p"></i></a>
          <a class="button-sm btn-sm-7 btn-sm-pr" href="#"><i class="fab fa-pinterest-p"></i></a>
          <a class="button-sm btn-sm-8 btn-sm-pr" href="#"><i class="fab fa-pinterest-p"></i></a>
        </div>

      </div>

      <div class="rounded-buttons">

        <div class="rnd-facebook">
          <a class="button-rnd btn-rnd-1 btn-rnd-fb" href="#"><i class="fab fa-facebook-f"></i></a>
          <a class="button-rnd btn-rnd-2 btn-rnd-fb" href="#"><i class="fab fa-facebook-f"></i></a>
          <a class="button-rnd btn-rnd-3 btn-rnd-fb" href="#"><i class="fab fa-facebook-f"></i></a>
          <a class="button-rnd btn-rnd-4 btn-rnd-fb" href="#"><i class="fab fa-facebook-f"></i></a>
          <a class="button-rnd btn-rnd-5 btn-rnd-fb" href="#"><i class="fab fa-facebook-f"></i></a>
          <a class="button-rnd btn-rnd-6 btn-rnd-fb" href="#"><i class="fab fa-facebook-f"></i></a>
          <a class="button-rnd btn-rnd-7 btn-rnd-fb" href="#"><i class="fab fa-facebook-f"></i></a>
          <a class="button-rnd btn-rnd-8 btn-rnd-fb" href="#"><i class="fab fa-facebook-f"></i></a>
        </div>

        <div class="rnd-twitter">
          <a class="button-rnd btn-rnd-1 btn-rnd-ig" href="#"><i class="fab fa-instagram"></i></a>
          <a class="button-rnd btn-rnd-2 btn-rnd-ig" href="#"><i class="fab fa-instagram"></i></a>
          <a class="button-rnd btn-rnd-3 btn-rnd-ig" href="#"><i class="fab fa-instagram"></i></a>
          <a class="button-rnd btn-rnd-4 btn-rnd-ig" href="#"><i class="fab fa-instagram"></i></a>
          <a class="button-rnd btn-rnd-5 btn-rnd-ig" href="#"><i class="fab fa-instagram"></i></a>
          <a class="button-rnd btn-rnd-6 btn-rnd-ig" href="#"><i class="fab fa-instagram"></i></a>
          <a class="button-rnd btn-rnd-7 btn-rnd-ig" href="#"><i class="fab fa-instagram"></i></a>
          <a class="button-rnd btn-rnd-8 btn-rnd-ig" href="#"><i class="fab fa-instagram"></i></a>
        </div>

        <div class="rnd-instagram">
          <a class="button-rnd btn-rnd-1 btn-rnd-tw" href="#"><i class="fab fa-twitter"></i></a>
          <a class="button-rnd btn-rnd-2 btn-rnd-tw" href="#"><i class="fab fa-twitter"></i></a>
          <a class="button-rnd btn-rnd-3 btn-rnd-tw" href="#"><i class="fab fa-twitter"></i></a>
          <a class="button-rnd btn-rnd-4 btn-rnd-tw" href="#"><i class="fab fa-twitter"></i></a>
          <a class="button-rnd btn-rnd-5 btn-rnd-tw" href="#"><i class="fab fa-twitter"></i></a>
          <a class="button-rnd btn-rnd-6 btn-rnd-tw" href="#"><i class="fab fa-twitter"></i></a>
          <a class="button-rnd btn-rnd-7 btn-rnd-tw" href="#"><i class="fab fa-twitter"></i></a>
          <a class="button-rnd btn-rnd-8 btn-rnd-tw" href="#"><i class="fab fa-twitter"></i></a>
        </div>

        <div class="rnd-linkedin">
          <a class="button-rnd btn-rnd-1 btn-rnd-li" href="#"><i class="fab fa-linkedin-in"></i></a>
          <a class="button-rnd btn-rnd-2 btn-rnd-li" href="#"><i class="fab fa-linkedin-in"></i></a>
          <a class="button-rnd btn-rnd-3 btn-rnd-li" href="#"><i class="fab fa-linkedin-in"></i></a>
          <a class="button-rnd btn-rnd-4 btn-rnd-li" href="#"><i class="fab fa-linkedin-in"></i></a>
          <a class="button-rnd btn-rnd-5 btn-rnd-li" href="#"><i class="fab fa-linkedin-in"></i></a>
          <a class="button-rnd btn-rnd-6 btn-rnd-li" href="#"><i class="fab fa-linkedin-in"></i></a>
          <a class="button-rnd btn-rnd-7 btn-rnd-li" href="#"><i class="fab fa-linkedin-in"></i></a>
          <a class="button-rnd btn-rnd-8 btn-rnd-li" href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>

        <div class="rnd-pinterest">
          <a class="button-rnd btn-rnd-1 btn-rnd-pr" href="#"><i class="fab fa-pinterest-p"></i></a>
          <a class="button-rnd btn-rnd-2 btn-rnd-pr" href="#"><i class="fab fa-pinterest-p"></i></a>
          <a class="button-rnd btn-rnd-3 btn-rnd-pr" href="#"><i class="fab fa-pinterest-p"></i></a>
          <a class="button-rnd btn-rnd-4 btn-rnd-pr" href="#"><i class="fab fa-pinterest-p"></i></a>
          <a class="button-rnd btn-rnd-5 btn-rnd-pr" href="#"><i class="fab fa-pinterest-p"></i></a>
          <a class="button-rnd btn-rnd-6 btn-rnd-pr" href="#"><i class="fab fa-pinterest-p"></i></a>
          <a class="button-rnd btn-rnd-7 btn-rnd-pr" href="#"><i class="fab fa-pinterest-p"></i></a>
          <a class="button-rnd btn-rnd-8 btn-rnd-pr" href="#"><i class="fab fa-pinterest-p"></i></a>
        </div>

      </div>

    </div>

  </body>
</html>
