<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>My Cards</title>
  <link rel="stylesheet" href="css/styleType1.css">
  <link rel="stylesheet" href="css/styleType2.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Work+Sans&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/f586a3b164.js" crossorigin="anonymous"></script>
</head>

<body>


    <!--  Blue Card  -->
    <div class="cv-card-b">

      <div class="card-body">
        <img class="profile-img" src="images/avatar1.png" alt="profile-picture">
        <h3 class="profile-name-b">Mario Rossi</h3>
        <p class="profile-desc-b">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Nullam blandit velit purus, et ultricies neque bibendum vitae.
          Aenean non elit nulla.</p>
      </div>

      <div class="card-footer">
        <a class="contact-link-b" href="#">Contact Me</a>
        <p class="secondary-par">or find me on...</p>
        <a class="social-b" href="#"><i class="fab fa-facebook-f facebook-b"></i></a>
        <a class="social-b" href="#"><i class="fab fa-twitter twitter-b"></i></a>
        <a class="social-b" href="#"><i class="fab fa-linkedin-in linkedin-b"></i></a>
      </div>

    </div>

    <!--  Red Card  -->
    <div class="cv-card-r">

      <div class="card-body">
        <img class="profile-img" src="images/avatar2.png" alt="profile-picture">
        <h3 class="profile-name-r">Paolo Bianchi</h3>
        <p class="profile-desc-r">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Nullam blandit velit purus, et ultricies neque bibendum vitae.
          Aenean non elit nulla.</p>
      </div>

      <div class="card-footer">
        <a class="contact-link-r" href="#">Contact Me</a>
        <p class="secondary-par">or find me on...</p>
        <a class="social-r" href="#"><i class="fab fa-facebook-f facebook-r"></i></a>
        <a class="social-r" href="#"><i class="fab fa-twitter twitter-r"></i></a>
        <a class="social-r" href="#"><i class="fab fa-linkedin-in linkedin-r"></i></a>
      </div>

    </div>

    <!--  Purple Card  -->
    <div class="cv-card-v2-p">

      <div class="card-header-v2-p">
        <img class="profile-img" src="images/avatar3.png" alt="profile-picture">
      </div>

      <div class="card-body-v2-p">

        <h3 class="profile-name-v2-p">Laura Bianchi</h3>
        <p class="profile-desc-v2">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Nullam blandit velit purus, et ultricies neque bibendum vitae.
          Aenean non elit nulla.</p>
      </div>

      <div class="card-footer-v2-p">
        <a class="contact-link-v2-p" href="#">Contact Me</a>
        <p class="secondary-par-v2">or find me on...</p>
        <a class="social-v2-p" href="#"><i class="fab fa-facebook-f facebook-v2-p"></i></a>
        <a class="social-v2-p" href="#"><i class="fab fa-twitter twitter-v2-p"></i></a>
        <a class="social-v2-p" href="#"><i class="fab fa-linkedin-in linkedin-v2-p"></i></a>
      </div>

    </div>

    <!--  Purple Card  -->
    <div class="cv-card-v2-a">

      <div class="card-header-v2-a">
        <img class="profile-img" src="images/avatar4.png" alt="profile-picture">
      </div>

      <div class="card-body-v2-a">

        <h3 class="profile-name-v2-a">Paola Verdi</h3>
        <p class="profile-desc-v2">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Nullam blandit velit purus, et ultricies neque bibendum vitae.
          Aenean non elit nulla.</p>
      </div>

      <div class="card-footer-v2-a">
        <a class="contact-link-v2-a" href="#">Contact Me</a>
        <p class="secondary-par-v2">or find me on...</p>
        <a class="social-v2-a" href="#"><i class="fab fa-facebook-f facebook-v2-a"></i></a>
        <a class="social-v2-a" href="#"><i class="fab fa-twitter twitter-v2-a"></i></a>
        <a class="social-v2-a" href="#"><i class="fab fa-linkedin-in linkedin-v2-a"></i></a>
      </div>

    </div>



</body>

</html>
